.mt-drop
    // mt drop sub start here
    .mt-drop-sub
        // mt side widget start here
        .mt-side-widget
            // cart row start here
            .cart-row
                a.img(href='#')
                    img.img-responsive(src='http://placehold.it/75x75', alt='image')
                .mt-h
                    span.mt-h-title
                        a(href='#') Marvelous Modern 3 Seater
                    span.price
                        i.fa.fa-eur(aria-hidden='true')
                        |  599,00
                a.close.fa.fa-times(href='#')
            // cart row end here
            // cart row start here
            .cart-row
                a.img(href='#')
                    img.img-responsive(src='http://placehold.it/75x75', alt='image')
                .mt-h
                    span.mt-h-title
                        a(href='#') Marvelous Modern 3 Seater
                    span.price
                        i.fa.fa-eur(aria-hidden='true')
                        |  599,00
                a.close.fa.fa-times(href='#')
            // cart row end here
            // cart row start here
            .cart-row
                a.img(href='#')
                    img.img-responsive(src='http://placehold.it/75x75', alt='image')
                .mt-h
                    span.mt-h-title
                        a(href='#') Marvelous Modern 3 Seater
                    span.price
                        i.fa.fa-eur(aria-hidden='true')
                        |  599,00
                a.close.fa.fa-times(href='#')
            // cart row end here
            // cart row total start here
            .cart-row-total
                span.mt-total Add them all
                span.mt-total-txt
                    a.btn-type2(href='#') add to CART
            // cart row total end here
        // mt side widget end here
    // mt drop sub end here
// mt drop end here
span.mt-mdropover