header#mt-header.style17
	// mt top bar start here
	.mt-top-bar
		.container-fluid
			.row
				.col-xs-12.col-sm-6.hidden-xs
					a.tel(href='#') О нас
					a.tel(href='#') Блог
					a.tel(href='#') Доставка и оплата
					a.tel(href='#') Гарантия
					a.tel(href='#') Контакты
				.col-xs-12.col-sm-6.text-right
					// mt-top-list start here
					ul.mt-top-list2
						li
							a(href='#')
								| Рус
								i.fa.fa-angle-down
						li
							a(href='#') Регистрация
						li
							a(href='#') Войти
					// mt-top-list end here
	// mt top bar start here
	.mt-top-bar.mt-top-bar-2.mt-bottom-bar
		.container-fluid
			.row
				.col-xs-12.col-sm-4
					.mt-logo
						a(href='#')
							img(src='images/mt-logo.png', alt='schon')
				.col-xs-12.col-sm-8.text-right
					.col-xs-12.col-sm-6
						img.telephone-icon(src='images/svg/telephone.svg', alt='phone')
						.phones
							span.mt-phone +38(050)583-81-51
							span.mt-phone +38(096)196-40-21
					// mt-top-list start here
					.col-xs-12.col-sm-6
						ul.mt-icon-list.top-mt-icon-list
							li.hidden-lg.hidden-md
								a.bar-opener.mobile-toggle(href='#')
									span.bar
									span.bar.small
									span.bar
							li.drop
								a.icon-heart.cart-opener(href='#')
									span.icon-text Избранное 	
								// mt drop start here
								include header/drop-cart.pug	
							li.drop
								a.cart-opener(href='#')
									span.icon-handbag
									span.num 3
									span.icon-text Корзина
								// mt drop start here
								include header/drop-cart.pug		
						// mt icon list end here
	// mt top bar start here
	// mt bottom bar start here
	.mt-bottom-bar
		.container-fluid
			.row
				.col-xs-12
					// mt icon list start here
					ul.mt-icon-list
						li.hidden-lg.hidden-md
							a.bar-opener.mobile-toggle(href='#')
								span.bar
								span.bar.small
								span.bar
						li
							input.mt-search(type='text', placeholder='поиск по товарам')
							a.icon-magnifier(href='#')
					// mt icon list end here
					// navigation start here
					nav#nav
						ul
							li
								a.drop-link(href='homepage1.html')
									| Марка автомобиля
									i.fa.fa-angle-down.hidden-lg.hidden-md(aria-hidden='true')
								.s-drop
									ul
										li
											a(href='homepage1.html') Homepage1
										li
											a(href='homepage2.html') homepage2
										li
											a(href='homepage3.html') homepage3
										li
											a(href='homepage4.html') homepage4
										li
											a(href='homepage5.html') Homepage5
										li
											a(href='homepage6.html') homepage6
										li
											a(href='homepage7.html') homepage7
										li
											a(href='homepage8.html') homepage8
										li
											a(href='homepage9.html') homepage9
							li.drop
								a(href='product-grid-view.html') Запчасти
								// mt dropmenu start here
								.mt-dropmenu.text-left
									// mt frame start here
									.mt-frame
										// mt f box start here
										.mt-f-box
											// mt col3 start here
											.mt-col-3
												.sub-dropcont
													strong.title
														a.mt-subopener(href='product-grid-view.html') Аксессуары
													.sub-drop
														ul
															li
																a(href='product-grid-view.html') Product Grid View
															li
																a(href='product-list-view.html') Product List View
															li
																a(href='product-detail.html') Product Detail
												.sub-dropcont
													strong.title
														a.mt-subopener(href='#') 404 Pages
													.sub-drop
														ul
															li
																a(href='404-page.html') 404 Page
															li
																a(href='404-page2.html') 404 Page2
											// mt col3 end here
											// mt col3 start here
											.mt-col-3
												.sub-dropcont
													strong.title
														a.mt-subopener(href='#') About US
													.sub-drop
														ul
															li
																a(href='about-us.html') About
												.sub-dropcont
													strong.title
														a.mt-subopener(href='#') Contact US
													.sub-drop
														ul
															li
																a(href='contact-us.html') Contact
															li
																a(href='contact-us2.html') Contact 2
												.sub-dropcont
													strong.title
														a.mt-subopener(href='#') Coming Soon
													.sub-drop
														ul
															li
																a(href='coming-soon.html') Coming Soon
															li
																a(href='coming-soon2.html') Coming Soon2
											// mt col3 end here
											// mt col3 start here
											.mt-col-3
												.sub-dropcont
													strong.title
														a.mt-subopener(href='#') KITCHEN FURNITURE
													.sub-drop
														ul
															li
																a(href='#') Kitchen Taps
															li
																a(href='#') Breakfast time
															li
																a(href='#') Cooking
															li
																a(href='#') Food Storage Boxes
															li
																a(href='#') Spice Jars
															li
																a(href='#') Napskins
															li
																a(href='#') Oven Gloves
															li
																a(href='#') Placemats
															li
																a(href='#') Cooking
															li
																a(href='#') Food Storage Boxes
															li
																a(href='#') Spice Jars
											// mt col3 end here
											// mt col3 start here
											.mt-col-3.promo
												.mt-promobox
													a(href='#')
														img.img-responsive(src='http://placehold.it/295x320', alt='promo banner')
											// mt col3 end here
										// mt f box end here
									// mt frame end here
								// mt dropmenu end here
								span.mt-mdropover
							li
								a.drop-link(href='blog-right-sidebar.html') Аксессуры
								.s-drop
									ul
										li
											a(href='blog-fullwidth-page.html') Blog Fullwidth Page
										li
											a(href='blog-right-sidebar2.html') blog right sidebar2
										li
											a(href='blog-postlist-3-masonry.html') blog postlist masonry
										li
											a(href='blog-post-detail-sidebar.html') blog post detail sidebar
										li
											a(href='blog-post-detail-full-width.html') blog post detail full width
							li
								a(href='about-us.html') Автохимия
					// navigation end here
	// mt bottom bar end here
	span.mt-side-over
// mt header end here
