doctype html
html(lang='en')
  head
    // set the encoding of your site
    meta(charset='utf-8')
    // set the viewport width and initial-scale on mobile devices
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Schön. | eCommerce HTML5 Template
    //build:css css/styles.min.css
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic%7cMontserrat:400,700%7cOxygen:400,300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/icon-fonts.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/responsive.css')
    //endbuild
  body
    // main container of all the page elements
    #wrapper
      // Page Loader
      #pre-loader.loader-container
        .loader
          img(src='images/svg/rings.svg', alt='loader')
      // W1 start here
      .w1
        // mt header style4 start here
        include modules/header
        // mt header style4 end here
        // mt search popup start here
        .mt-search-popup
          .mt-holder
            a.search-close(href='#')
              span
              span
            .mt-frame
              form(action='#')
                fieldset
                  input(type='text', placeholder='Search...')
                  span.icon-microphone
                  button.icon-magnifier(type='submit')
        // mt search popup end here
        // mt main start here
        main#mt-main.product-list-mt-main
          // Mt Contact Banner of the Page end
          .container
            .row
              // sidebar of the Page start here
              .col-xs-12.product-list-breadcrumbs
                nav.breadcrumbs
                    ul.list-unstyled
                      li
                        a(href='index.html')
                          | Главная 
                          i.fa.fa-circle
                      li
                        a(href='product-detail.html')
                          | Каталог 
                          i.fa.fa-circle
                      li
                        a(href='product-detail.html')
                          | Масла 
                          i.fa.fa-circle          
                      li Моторные масла
              .col-xs-8.col-xs-offset-3.product-list-header
                h3 Моторные масла            
              aside#sidebar.col-xs-12.col-sm-4.col-md-3.wow.fadeInLeft(data-wow-delay='0.4s')
                // shop-widget filter-widget of the Page start here
                section.shop-widget.filter-widget.bg-grey
                  h2 Фильтры
                  .active-filters-list
                    btn.active-filter Fantini
                        img(src='images/svg/cancel.svg')
                    btn.active-filter Casali
                        img(src='images/svg/cancel.svg')
                  .reset
                    btn.reset-btn Сбросить все   
                  span.sub-title Производитель
                  // nice-form start here
                  ul.list-unstyled.nice-form
                    li
                      label(for='check-1')
                        input#check-1(type='checkbox')
                        span.fake-input
                        span.fake-label Casali
                      span.num 2
                    li
                      label(for='check-2')
                        input#check-2(type='checkbox')
                        span.fake-input
                        span.fake-label Decar
                      span.num 12
                    li
                      label(for='check-3')
                        input#check-3(checked='checked', type='checkbox')
                        span.fake-input
                        span.fake-label Fantini
                      span.num 4
                    li
                      label(for='check-4')
                        input#check-4(type='checkbox')
                        span.fake-input
                        span.fake-label Flamentstyle
                      span.num 4
                    li
                      label(for='check-5')
                        input#check-5(type='checkbox')
                        span.fake-input
                        span.fake-label Heerenhuis
                      span.num 6
                    li
                      label(for='check-6')
                        input#check-6(type='checkbox')
                        span.fake-input
                        span.fake-label Hoffmann
                      span.num 10
                    li
                      label(for='check-7')
                        input#check-7(type='checkbox')
                        span.fake-input
                        span.fake-label Italfloor
                      span.num 3
                  // nice-form end here
                  span.sub-title Цена
                  .price-range
                    .range-slider
                      span.dot
                      span.dot.dot2
                    span.price от 10 до 599000 грн
                    a.filter-btn(href='#') Применить
                // shop-widget filter-widget of the Page end here
                // shop-widget of the Page start here
                section.shop-widget
                  h2 Категории
                  // category list start here
                  ul.list-unstyled.category-list
                    li
                      a(href='#')
                        span.name CHAIRS
                        span.num 12
                    li
                      a(href='#')
                        span.name SOFAS
                        span.num 24
                    li
                      a(href='#')
                        span.name ARMCHAIRS
                        span.num 9
                    li
                      a(href='#')
                        span.name BEDROOM
                        span.num 2
                    li
                      a(href='#')
                        span.name LIGHTING
                        span.num 17
                    li
                      a(href='#')
                        span.name KITCHEN
                        span.num 10
                    li
                      a(href='#')
                        span.name ACCESSORIES
                        span.num 23
                  // category list end here
                // shop-widget of the Page end here
                // shop-widget of the Page start here
                section.shop-widget
                  h2 Товары со скидкой
                  // mt product4 start here
                  .mt-product4.mt-paddingbottom20
                    .img
                      a(href='product-detail.html')
                        img(src='images/product-list/bg.png', alt='image description')
                    .text
                      .frame
                        strong
                          a(href='product-detail.html') Вижимной подшибник
                        ul.mt-stars
                          li
                            i.fa.fa-star
                          li
                            i.fa.fa-star
                          li
                            i.fa.fa-star
                          li
                            i.fa.fa-star-o
                      del.off 75,00 грн
                      span.price 55,00 грн
                  // mt product4 end here
                  // mt product4 start here
                // shop-widget of the Page end here
              // sidebar of the Page end here
              .col-xs-12.col-sm-8.col-md-9.wow.fadeInRight(data-wow-delay='0.4s')
                // mt shoplist header start here
                header.mt-shoplist-header
                  // btn-box start here
                  .btn-box
                    ul.list-inline
                      span.sort Сортировка
                      li
                        a.drop-link(href='#')
                          | По рейтингу
                          i.fa.fa-angle-down(aria-hidden='true')
                        .drop
                          ul.list-unstyled
                            li
                              a(href='#') ASC
                            li
                              a(href='#') DSC
                            li
                              a(href='#') Price
                            li
                              a(href='#') Relevance
                      li
                        a.mt-viewswitcher(href='#')
                          i.fa.fa-th-large(aria-hidden='true')
                      li
                        a.mt-viewswitcher(href='#')
                          i.fa.fa-th-list(aria-hidden='true')
                  // btn-box end here
                  // mt-textbox start here
                  .mt-textbox
                    p
                      | Показано  
                      strong 1–9
                      |  из  
                      strong 65
                      |  товаров
                    p
                      | Выводить по   
                      a(href='#') 9
                      |  / 
                      a(href='#') 18
                      |  / 
                      a(href='#') 27
                      |  / 
                      a(href='#') Все
                  // mt-textbox end here
                // mt shoplist header end here
                // product post start here
                .product-post
                  // img holder start here
                  .img-holder
                    img(src='images/product-list/size-2.png', alt='image description')
                  // img holder end here
                  // txt holder start here
                  .txt-holder
                    // align left start here
                    .align-left
                      strong.title
                        a(href='product-detail.html') Моторное масло SHELL HELIX HX7 10W-40 1л.
                      span.price 399,00 грн
                      p
                        | Koila is a chair designed for restaurants and food lovers in general. Designed in collaboration with restaurant professionals, it ensures comfort and an ideal posture, as there are armrests on both sides of the chair.
                    // align left end here
                    // align right start here
                    .align-right
                      ul.list-unstyled.rating-list
                        li.active
                          a(href='#')
                            i.fa.fa-star
                        li.active
                          a(href='#')
                            i.fa.fa-star
                        li.active
                          a(href='#')
                            i.fa.fa-star
                        li
                          a(href='#')
                            i.fa.fa-star-o
                        li Оценок (12)
                      a.btn-cart(href='#') В корзину
                      ul.list-unstyled.nav
                        li
                          a(href='#')
                            i.fa.fa-heart
                            |  В избранное
                    // align right end here
                  // txt holder end here
                // product post end here
                // mt pagination start here
                .show-more
                  btn.show-more-btn Показать еще товары
                nav.mt-pagination
                  ul.list-inline
                    li
                      a(href='#') 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                // mt pagination end here
              section.links-product-list
                .col-md-6
                  h3 Полезные ссылки
                  ul
                    li
                      a(href="#") Как выбрать масло для авто
                    li
                      a(href="#") 10 интересных фактов о моторном масле
                    li
                      a(href="#") Что нужно знать перед покупкой масла
                .col-md-6
                  p 
                  | Любой механизм требует смазки, чтобы его подвижные элементы не изнашивались. Потому для каждой ходовой части автомобиля был разработан отдельный вид масла, со своим уникальным составом, свойствами и вязкостью.
                  p
                  | В интернет-магазине AUTOSPHERE вы сможете купить качественное автомобильное масло любого типа и необходимой степени вязкости. В выборе вам смогут помочь консультации менеджеров и отзывы покупателей. Мы осуществляем быструю доставку для жителей Киева и других регионов Украины.  
        // mt main end here
        // footer of the Page
        include modules/footer
      // W1 end here
      span#back-top.fa.fa-arrow-up
    //build:js js/main.min.j
    script(src='js/headerScript.js')
    script(src='js/productListScript.js')
    script(src='js/libs/jquery.js')
    script(src='js/libs/plugins.js')
    script(src='js/libs/jquery.main.js')
    //endbuild
