doctype html
html(lang='en')
    include modules/header/head
    body
        // main container of all the page elements
        #wrapper
            // Page Loader
            #pre-loader.loader-container
                .loader
                    img(src='images/svg/rings.svg', alt='loader')
            .w1
                // mt -header style14 start from here
                include modules/header/header
                // Main of the Page
                main#mt-main
                    section.wow.fadeInUp(data-wow-delay='0.4s')
                        .container-fluid
                            .row
                                .col-xs-12
                                    section.profile-page
                                        h2.text-center Личный кабинет
                                        .row
                                            .col-md-3.profile-nav
                                                ul
                                                    li.active
                                                        a(href="#") Мои настройки
                                                    li
                                                        a(href="#") Мои заказы
                                                    li
                                                        a(href="#") Список избранного
                                            .col-md-8.profile-data
                                                .img-container.text-center
                                                    img(src="images/blog/blogpost_comments.png", alt="profile-image")
                                                    a(href="#") Изменить фото
                                                .table-responsive
                                                    table
                                                        tr
                                                            td Ваше имя:
                                                            td Александр Иванов
                                                            td
                                                                a(href="#") Изменить
                                                        tr
                                                            td Телефон:
                                                            td +380662536548
                                                            td
                                                                a(href="#") Изменить
                                                        tr
                                                            td Электронная почта: 
                                                            td alex@gmail.com
                                                            td
                                                                a(href="#") Изменить
                                                //- ul.list-container
                                                //-     li Ваше имя: 
                                                //-         span Александр Иванов 
                                                //-         a(href="#") изменить
                                                //-     li
                                                //-         span Телефон: 
                                                //-         | +380662536548
                                                //-         a(href="#") изменить
                                                //-     li
                                                //-         span Электронная почта: 
                                                //-         | alex@gmail.com 
                                                //-         a(href="#") изменить
                include modules/footer/footer 
            span#back-top.fa.fa-arrow-up
        include modules/footer/scripts