footer#mt-footer.style2.wow.fadeInUp(data-wow-delay='0.4s')
					// F Promo Box of the Page
					// Footer Holder of the Page
					.footer-holder.dark
						.container
							.row
								.col-xs-12.col-sm-5.col-md-4.mt-paddingbottomxs
									// F Widget About of the Page
									.f-widget-about
										.logo
											a(href='index.html')
												img(src='images/logo.png', alt='Schon')
										p Оригинальные запчасти и аксессуары для легковых автомобилей
										ul.list-unstyled.address-list
											li
												i.fa.fa-map-marker
												address Украина, Киев, Днепровская набережная,  26
											li
												i.fa.fa-phone
												a(href='tel:380505838151') +38050583-81-51
											li
												i.fa.fa-phone
												a(href='tel:380961954021') +38096195-40-21
									// F Widget About of the Page
								nav.col-xs-12.col-sm-7.col-md-5.mt-paddingbottomxs
									// Footer Nav of the Page
									.nav-widget-1
										h3.f-widget-heading Категории
										ul.list-unstyled.f-widget-nav
											li
												a(href='#') Марка автомобиля
											li
												a(href='#') Запчасти
											li
												a(href='#') Аксессуары
											li
												a(href='#') Масла
											li
												a(href='#') Автохимия
									// Footer Nav of the Page end
									// Footer Nav of the Page
									.nav-widget-1
										h3.f-widget-heading Информация
										ul.list-unstyled.f-widget-nav
											li
												a(href='#') О нас
											li
												a(href='#') Блог
											li
												a(href='#') Доставка и оплата
											li
												a(href='#') Гарантия
											li
												a(href='#') Контакты
									// Footer Nav of the Page end
								.col-xs-12.col-md-3.text-right.hidden-sm
									// F Widget Newsletter of the Page
									.f-widget-newsletter
										h3.f-widget-heading Подписаться на рассылку
										.holder
											form.newsletter-form.form2(action='#')
												fieldset
													input.form-control(type='email', placeholder='Ваш e-mail')
													button(type='submit') Подписаться
										// F Widget Newsletter of the Page end
										h4.f-widget-heading.follow Мы в соцсетях
										// Social Network of the Page
										ul.list-unstyled.social-network.social-icon
											li
												a(href='#')
													i.fa.fa-facebook
											li
												a(href='#')
													i.fa.fa-google-plus
											li
												a(href='#')
													i.fa.fa-youtube
											li
												a(href='#')
													i.fa.fa-linkedin
											li
												a(href='#')
													i.fa.fa-telegram
										// Social Network of the Page end
								.col-xs-12.text-center.footer-area
									p
										| © 
										a(href='index.html') Autospere.
										| - Все права защищены