//build:js js/main.min.js
script(src='js/headerScript.js')
script(src='js/productItemScript.js')
script(src='js/productListScript.js')
script(src='js/blogScript.js')
script(src='js/libs/jquery.js')
script(src='js/libs/plugins.js')
script(src='js/libs/jquery.main.js')
//endbuild