.col-xs-12.col-sm-4.text-right.sidebar.wow.fadeInRight(data-wow-delay='0.4s')
    section.widget.category-widget
        h3 Категории
        ul.list-unstyled.widget-nav
            li
                a(href='#') Новости
            li
                a(href='#') Лайфхаки
            li
                a(href='#') Тренды
            li
                a(href='#') Обзоры
    section.widget.popular-widget
        h3 Популярные статьи
        ul.list-unstyled.text-right.popular-post
            li
                .img-post
                    a(href='#')
                    img(src='images/blog/sidebar_blogpost_popular.png', alt='image description')
                .info-dscrp
                    p Skoda построит новый завод ввиду рекордного спроса
                    time(datetime='2016-02-03 20:00') 24.09.2015
    section.widget.tag-widget
        h3 Теги
        ul.list-unstyled.text-right.tags
            li
                a(href='#') Fusce,
            li
                a(href='#') mattis,
            li
                a(href='#') nunc,
            li
                a(href='#') lacus,
            li
                a(href='#') vulputate,
            li
                a(href='#') facilisis,
            li
                a(href='#') dui,
            li
                a(href='#') efficitur,
            li
                a(href='#') ut
