.mt-drop
    // mt drop sub start here
    .mt-drop-sub
        // mt side widget start here
        .mt-side-widget
            // cart row start here
            .cart-row
                a.img(href='#')
                    img.img-responsive(src='images/product-list/size-2.png', alt='image')
                .mt-h
                    span.mt-h-title
                        a(href='#') Моторное масло SHELL HELIX HX7 10W-40 1л.
                    span.price 599,00 грн
                    .count
                        span.minus -
                        span.number 3
                        span.plus +
                a.close.fa.fa-times(href='#')
            // cart row end here
            // cart row total start here
            .cart-row-total
                .total
                    h5 Итого:
                    span 799 грн
                .buy-items    
                    span.mt-total-txt
                        a.btn-type2(href='#') В корзину
                    span.mt-total-txt
                        a.btn-type2.order(href='#') Оформить заказ
            // cart row total end here
        // mt side widget end here
    // mt drop sub end here
// mt drop end here
span.mt-mdropover