header#mt-header.style17
	// mt top bar start here
	.mt-top-bar
		.container-fluid
			.row
				.col-xs-12.col-sm-6.hidden-xs
					a.tel(href='#') О нас
					a.tel(href='#') Блог
					a.tel(href='#') Доставка и оплата
					a.tel(href='#') Гарантия
					a.tel(href='#') Контакты
				.col-xs-12.col-sm-6.text-right
					// mt-top-list start here
					ul.mt-top-list2
						li
							a(href='#')
								| Рус
								i.fa.fa-angle-down
						li
							a(href='#') Регистрация
						li
							a(href='#') Войти
					// mt-top-list end here
	// mt top bar start here
	.mt-top-bar.mt-top-bar-2.mt-bottom-bar
		.container-fluid
			.row
				.col-xs-4
					.mt-logo
						a(href='#')
							img(src='images/mt-logo.png', alt='schon')
				.col-xs-8.text-right
					.col-xs-12.col-sm-6
						span
							.fa.fa-phone
						.phones
							span.mt-phone +38(050)583-81-51
							span.mt-phone +38(096)196-40-21
					// mt-top-list start here
	span.mt-side-over
// mt header end here
